version: 2
updates:
 
  # Automatic upgrade for go modules.
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      # skip grpc because the current latest is not compatible with containerd 1.7
      # skip k8s deps since they use the latest go version/features that may not be in the go version soci uses
      # Also ignored in /scripts/bump-deps.sh
      - dependency-name: "google.golang.org/grpc"
      - dependency-name: "k8s.io/*"

  # Automatic upgrade for go modules of cmd package.
  - package-ecosystem: "gomod"
    directory: "/cmd"
    schedule:
      interval: "daily"
    ignore:
      # skip grpc because the current latest is not compatible with containerd 1.7
      # skip k8s deps since they use the latest go version/features that may not be in the go version soci uses
      # Also ignored in /scripts/bump-deps.sh
      - dependency-name: "github.com/awslabs/soci-snapshotter"
      - dependency-name: "google.golang.org/grpc"
      - dependency-name: "k8s.io/*"

  # Automatic upgrade for base images used in the Dockerfile
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"

  # Automatic upgrade for Github Actions
  - package-ecosystem: "github-actions"
    directory: "/" # means ".github/workflows"
    schedule:
      interval: "daily"
