name: Comparision Tests

on:
  schedule:
    - cron: "0 0 */2 * *" # every 2 days
  pull_request:
    branches: ['main']
    paths:
      - '.github/workflows/comparison-test.yml'
      - 'benchmark/**'
      - 'Makefile'

env:
  GO_VERSION: '1.24.4'

jobs:
  check:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - run: make
      - run: make benchmarks
      - run: cd benchmark/comparisonTest && cat output/results.json
