name: Comparision Tests

on:
  schedule:
    - cron: "0 0 */2 * *" # every 2 days

env:
  GO_VERSION: '1.21.10'

jobs:
  check:
    runs-on: codebuild-soci-comparision-test-${{ github.run_id }}-${{ github.run_attempt }}-ubuntu-7.0-xlarge
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - run: make
      - run: make benchmarks
      - run: cd benchmark/comparisonTest && cat output/results.json
