name: Pre-build

on:
  push:
    branches: ['main', 'release/**']
  pull_request:
    branches: ['main', 'release/**']

env:
  GO_VERSION: '1.23.7'
  GOLANGCI_LINT_VERSION: '1.63.4'

jobs:
  check:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          # check-dco will check the last 20 commits, but commit ranges
          # exclude the start commit in the result, but need that commit
          # in order to calculate the range. i.e. HEAD~20..HEAD includes
          # 20 commits, but including HEAD it needs 21 commits.
          fetch-depth: 21
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - run: wget https://github.com/google/flatbuffers/releases/download/v22.9.29/Linux.flatc.binary.g++-10.zip
      - run: unzip Linux.flatc.binary.g++-10.zip
      - run: ./scripts/install-check-tools.sh
      - run: ./scripts/check-ltag.sh
      - run: ./scripts/check-dco.sh
      - run: PATH=$PATH:$(pwd) ./scripts/check-flatc.sh

  git-secrets:
    runs-on: ubuntu-22.04
    steps:
      - name: Pull latest awslabs/git-secrets repo
        uses: actions/checkout@v4
        with:
          repository: awslabs/git-secrets
          ref: 1.3.0
          fetch-tags: true
          path: git-secrets
      - name: Install git secrets from source
        run: sudo make install
        working-directory: git-secrets
      - uses: actions/checkout@v4
      - name: Scan repository for git secrets
        run: |
          git secrets --register-aws
          git secrets --scan-history

  lint:
    strategy:
      matrix:
        working_dir: ['.', 'cmd']
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: golangci/golangci-lint-action@v6
        with:
          version: v${{ env.GOLANGCI_LINT_VERSION }}
          working-directory: ${{ matrix.working_dir }}

  yamllint:
    name: yamllint-lint
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - run: yamllint .

  shellcheck:
    runs-on: ubuntu-22.04
    container: koalaman/shellcheck-alpine:v0.10.0
    steps:
      - uses: actions/checkout@v4
      - run: shellcheck ./**/*.sh
