name: Pre-build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          # check-dco will check the last 20 commits, but commit ranges
          # exclude the start commit in the result, but need that commit
          # in order to calculate the range. i.e. HEAD~20..HEAD includes
          # 20 commits, but including HEAD it needs 21 commits.
          fetch-depth: 21
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20.6'
      - run: wget https://github.com/google/flatbuffers/releases/download/v22.9.29/Linux.flatc.binary.g++-10.zip
      - run: unzip Linux.flatc.binary.g++-10.zip
      - run: ./scripts/install-check-tools.sh
      - run: ./scripts/check-ltag.sh
      - run: ./scripts/check-dco.sh
      - run: ./scripts/check-lint.sh
      - run: PATH=$PATH:$(pwd) ./scripts/check-flatc.sh