name: Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
env:
  GO_VERSION: '1.20.13'

permissions:
  contents: write
  deployments: write

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - run: make
      - run: make test
      
  integration:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        containerd: ["1.6.26", "1.7.11"]
    env:
      DOCKER_BUILD_ARGS: "CONTAINERD_VERSION=${{ matrix.containerd }}"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - run: make integration

  generate-artifacts:
    needs: [test, integration]
    runs-on: ubuntu-20.04
    env:
      # Set during setup.
      RELEASE_TAG: ''
      DYNAMIC_BINARY_NAME: ''
      STATIC_BINARY_NAME: ''
    steps:
    - uses: actions/checkout@v4
    - name: Setup and export variables
      run: |
        export release_tag=${GITHUB_REF#refs/*/} # Strip down to raw tag name
        export release_version=${release_tag/v/} # Remove v from tag name

        echo "RELEASE_TAG=${release_tag}" >> $GITHUB_ENV
        echo "DYNAMIC_BINARY_NAME=soci-snapshotter-${release_version}-linux-amd64.tar.gz" >> $GITHUB_ENV
        echo "STATIC_BINARY_NAME=soci-snapshotter-${release_version}-linux-amd64-static.tar.gz" >> $GITHUB_ENV
        
        mkdir release
    - name: Create release binaries
      run: make RELEASE_TAG=${{ env.RELEASE_TAG }} release
    - uses: actions/upload-artifact@v4
      with:
        name: artifacts
        path: release/
        if-no-files-found: error

    outputs:
      release_tag: ${{ env.RELEASE_TAG }}
      dynamic_binary_name: ${{ env.DYNAMIC_BINARY_NAME }}
      static_binary_name: ${{ env.STATIC_BINARY_NAME }}
  
  validate-artifacts:
    needs: generate-artifacts
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: artifacts
      - run: bash scripts/verify-release-artifacts.sh ${{ needs.generate-artifacts.outputs.release_tag }}

  create-release:
    needs: [generate-artifacts, validate-artifacts]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: artifacts
      - uses: softprops/action-gh-release@v1
        with:
          draft: true
          prerelease: false
          generate_release_notes: true
          files: |
            ${{ needs.generate-artifacts.outputs.dynamic_binary_name }}
            ${{ needs.generate-artifacts.outputs.dynamic_binary_name }}.sha256sum
            ${{ needs.generate-artifacts.outputs.static_binary_name }}
            ${{ needs.generate-artifacts.outputs.static_binary_name }}.sha256sum
